.container {
  max-width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("../../assets/logo1.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50% 50%;
}

.container00 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.container1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto;
}

.container0 {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 0vh;
  margin-bottom: 2vh;
}

.hr1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.hr {
  height: 1px;
  width: 70%;
  background-color: white;
}

.l1 {
  color: white;
  font-size: 3vw;
}

.l2 {
  color: red;
  font-size: 3vw;
}

.main1 {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.main2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.outer {
  display: flex;
  flex-direction: column;
  width: 16vw;
  justify-content: center;
  align-items: center;
}

.l6 {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  padding-bottom: 5px;
}

.main3 {
  display: flex;
  height: 15vh;
  width: 15vw;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.icon {
  height: 10vh;
  width: 19vw;
  font-size: 7vh;
  color: red;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}

/* .icon1 {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 19vw;
  font-size: 9vh;
  color: red;
  padding-top: 5px;
} */

.l4 {
  font-size: 2.5vw;
  color: white;
  padding-left: 15px;

  font-weight: bold;
}

.l5 {
  font-size: 2.7vw;
  color: white;
  padding-left: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  padding-top: 5px;
}

.l7 {
  font-size: 2.7vw;
  padding-top: 5px;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {
  .main3 {
    display: flex;
    height: 14vh;
    width: 18vw;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
