.main {
  max-width: 100%;
  background-color: #1c2630;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
}

.imgr {
  height: 8vh;
  border-radius: 10px;
  /* margin-right: 40px; */
  padding: 5px;
  margin-left: 40px;
}

.label1 {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.btn {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  height: 7vh;
  width: 80px;
  font-size: 1.2vw;
  margin-left: 70vw;
}
.btn1 {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  height: 7vh;
  width: 120px;
  font-size: 1.2vw;
}

.nav {
  /* margin-left: 93%; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      } */

/* .nav {
        margin-left: auto;
      } */

@media only screen and (max-width: 1024px) {
  .main {
    max-width: 100%;
    background-color: #1c2630;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    height: 5vh;
    width: 120px;
    font-size: 2vw;
  }

  .imgr {
    height: 6vh;
    border-radius: 10px;
    /* margin-right: 40px; */
    padding: 5px;
    margin-left: 40px;
  }

  .nav {
    margin-left: 85%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
